# Application settings
# Possible values: dev, stage, prod
FLAVOR=dev

# Network settings
PROXY=http://username:password@proxyserver:port

# Database settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YourPostgresPassword
POSTGRES_HOST=localhost
POSTGRES_DB=shinga_db
POSTGRES_PORT=5432

# Redis settings
REDIS_HOST=localhost
REDIS_PORT=6379

# Email settings (SMTP)
SMTP_HOST="mail.yourdomain.com"
SMTP_PORT=587
SMTP_USERNAME="no-reply@yourdomain.ru"
SMTP_PASSWORD="YourEmailPassword"
EMAIL_DOMAIN="yourdomain.ru"
SMTP_USE_TLS=True

# Storage settings
STORAGE_BASE_PATH=storage/

# Security settings
SECRET_KEY = your_secret_key_here 
